<h3>Rentals Index</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>DAILY RATES</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |rental|}}
      <tr>
        <td>{{rental.id}}</td>
        <td>{{rental.name}}</td>
        <td>{{rental.daily_rates}}</td>
        <td><button {{action 'show' rental}}>Show</button></td>
        <td><button>{{#link-to 'rental.edit' rental}}Edit{{/link-to}}</button></td>
        <td><button>{{#link-to 'rental.booking.index' rental}}View Bookings{{/link-to}}</button></td>
        <td><button {{action 'delete' rental}}>Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>  
{{#link-to 'rental.new'}}New Rental{{/link-to}}